<div class="big-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <!-- Mensaje de error global -->
        @if (errorMessage()) {
        <div class="error-global">
            {{ errorMessage() }}
        </div>
        }

        <div class="container">
            <div class="container-header">
                <h1>¡Hola de nuevo!</h1>
                <span>¡Nos alegramos mucho de volver a verte!</span>
            </div>

            <div class="div-form">

                @for (field of ['nickname','password']; track field) {
                <div class="div-input">
                    <span>
                        {{ getLabel(field) }}
                        @if (isRequired(field)) {
                        <span class="required"> *</span>
                        }
                    </span>

                    <input [type]="field === 'password' ? 'password' : 'text'" [formControlName]="field"
                        [placeholder]="getLabel(field)"
                        [autocomplete]="field === 'password' ? 'current-password' : 'off'">

                    <!-- Error Angular -->
                    @if (loginForm.get(field)?.touched && loginForm.get(field)?.invalid) {
                    <div class="error">
                        {{ getAngularError(field) }}
                    </div>
                    }

                </div>
                }

                <!-- Checkbox recordar sesión -->
                <div class="div-checkbox">
                    <label class="checkbox-label">
                        <input type="checkbox" [formControlName]="'rememberMe'">
                        <span class="small-text">Mantener la sesión iniciada</span>
                    </label>
                </div>

                <!-- Botón -->
                <div class="div-input">
                    <button type="submit" class="btn">
                        Iniciar sesión
                    </button>
                    <span class="small-text">
                        ¿No tienes cuenta? <a routerLink="/register">Registrarse</a>
                    </span>
                </div>

            </div>
        </div>
    </form>
</div>