.post {
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
    padding: 5px 30px;
}

span {
    font-size: 12px;
    color: gray;
}

img {
    width: 30px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}